*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: #272121;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}

ul{
    list-style: none;
}